{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row ">
  
   <h3>Welcome {{request.user.username}}</h3>

    

  <div class="col-sm-9 offset-sm-1">
    
    <h3>Password ResetSuccessfully !!</h3>
    <div><iframe src="https://giphy.com/embed/ibolLe3m0qHE3PQTtk" width="200" height="200"
    frameborder="0" class="giphy-embed" allowFullScreen></
    iframe></div>
</div>

</div>
</div>
{% endblock main-content %}